<div class="column is-8">
  <h3 class="title is-5 has-text-grey-light">Ultime Discussioni</h3>
  <div class="discussions">
    <% @discussions.each do |discussion| %>
      <div class="columns bb-not-last pv10">
        <div class="column is-1">
          <%= gravatar_image_tag(discussion.user.email, class:'border-radius-50', size: 48, alt: discussion.user.username) %>
        </div>
        <div class="column is-8">
          <%= link_to discussion do %>
            <h3 class="title is-5"><%= discussion.title %></h3>
          <% end %>
          <div class="content">
            <%= truncate(strip_markdown(discussion.content), length: 140) %>
            <p><em><small>Postato <%= time_ago_in_words(discussion.created_at) %> fa in
              <% if discussion.channel %>
                <%= link_to discussion.channel.channel, discussion.channel %>
              <% end %>
              da <%= discussion.user.username %>
              </small>
            </em><br>

            <% @discussion = Discussion.find(params[:id]=discussion.id) %>
            <% @lastreply = @discussion.replies.last %>
            <% if !@lastreply %>
            <% else %>
            <em><small>Ultima risposta
            <%= time_ago_in_words(@lastreply.created_at) %> fa di <%=@lastreply.user.username%>
            <% end %>
          </small></em></p>

          </div>
        </div>

        <% if discussion_author(discussion) || has_role?(:admin) %>
        <div class="column has-text-right">
          <%= link_to 'Modifica', edit_discussion_path(discussion), class:'button' %>
          <%= link_to 'Elimina', discussion, method: :delete, data: { confirm: 'Sei sicuro?' }, class: "button" %>
        </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
